.category_box {
    &-list {
        @include fixUl;
        display: flex;
        justify-content: space-evenly;
    }
    &-item {
        width: 100px;
        height: 81px;
        user-select: none;
        &:hover {
            transform: translateY(-1px);
        }
    }
    &-link {
        @include flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        & img {
            width: 45px;
            height: 45px;
        }
        & span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 2rem;
            line-height: 2.4rem;
            color: $black-color;
            text-transform: capitalize;
            margin-top: 5px;
        }
    }
}