/* Mobile and Tablet */
 @media (max-width: 63.9375em) {
  :root {
    --header-height: 68px;
    --navbar-height: 0px;
  }

  .hide-on-mobile-tablet {
    display: none;
  }
    

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
  }


  .header__sort-bar-list {
    display: flex;
  }

  .container {
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    overflow-x: hidden;
  }

  .search {
    margin: 0;
  }

  .cart__list {
    position: fixed;
    width: 100%;
    max-height: 54vh;
    top: var(--header-height);
    right: 0;
    padding: 0 55px;
    margin-top: 0;
  }

  .cart__list::before {
    display: none;
  }

  .cart__item-img-product {
    width: 64px;
    height: 64px;
  }

  .cart__icon-main {
    margin: 12px 0 0;
  }

  .cart_amount {
    right: 0;     
  }

  .cart__heading {
    font-size: 2.8rem;
  }

  .cart__list-products {
    margin-top: 16px;
  }

  .cart__info-name {
    font-size: 2.4rem;
  }


  .cart__price-main, 
  .cart__multiply, 
  .cart__quantity, 
  .cart__remove  {
    font-size: 2.6rem;
    font-weight: 400;
  } 

  .cart__btn {
    margin: -10px 24px 0 0px ;
  }

  .btn.btn-color {
    width: 200px;
    height: 42px;
    font-size: 2.8rem;
    font-weight: 300;
  } 

.row__container {
  margin: 0;
}
  
  .products-content {
    height: unset;
  }

 }


 /* Tablet */
 @media (min-width: 46.25em) and (max-width: 64em) {
  .hide-on-tablet {
    display: none;

  }
  
  .search__bar {
    position: relative;
    flex: 7;
  }

  .search__bar-history {
    width: 153.5%;
  }

  .search__cart {
    flex: 1;
    justify-content: flex-end;
  }

  .container__row {
    padding: 0;
  }
  
 }


 /* Mobile */ 
 @media (max-width: 46.1875rem) {
    .hide-on-mobile {
      display: none;
  }

  .search {
    justify-content: space-between;
    border-bottom: 1px solid #e0dfdf;
  }

  .search__mobile {
    display: block;
  }

  .search__logo {
    width: 140px;
    height: 140px;
    margin-top: 18px;
  }

.search__mobile-input:checked ~ .search__bar {
    display: flex;
}
  
  .search__bar {
    position: fixed;
    height: 50px;
    top: var(--header-height);
    left: 0;
    width: 100%;
    box-shadow: 0 1px 6px #ccc;
    z-index: 1;
    animation: slideMobile linear 0.6s;
    display: none;
  }

/* Animation cho thanh search trên mobile */
@keyframes slideMobile {
  from {
     opacity: 0;
     top: calc((var(--header-height) / 2));
  }

  to {
     opacity: 1;
     top: var(--header-height);
  }
}

.search__bar-history {
  position: fixed;
  top: calc((var(--header-height) + var(--header-sort-bar-height)) + 6px);
  left: 0;
  width: 100%;
}

.bar_selection {
  display: none;
}

  .search__cart {
    width: unset;
  }

  .cart__icon-main {
    margin: 0;
    padding: 0;
  }

  .cart__icon {
    padding-right: 20px;
  }

  .cart_amount {
    font-size: 1.9rem;
    line-height: 1.9rem;
    top: -7px;
    right: 12px;
  } 
 
 .products-img-name, .products__price-old, .products-price-new, .products-origin 
  {
   font-size: 2.2rem;
 }
  
 .pagination-page {
   padding-left: 0;
 }

 .pagination__list {
   padding: 0;
 }
 
 .pagination__link {
   font-size: 2.4rem;
   font-weight: 400;
 }

 }

 /* Mobile màn hình nhỏ < 380px */
 @media (max-width: 23.75em) {
  .products-img-name, .products-img-name, .products__price-old, .products-price-new, .products-origin 
  {
   font-size: 1.9rem;
 }

 i.active-like-heart-full {
   font-size: 1.3rem;
 }

 .active-vote-star {
   font-size: 1rem;
 }
 }

 /* Mobile màn hình nhỏ < 330px */
 @media (max-width: 20.625em) {
  .products-img-name, .products-img-name, .products__price-old, .products-price-new, .products-origin 
  {
   font-size: 1.6rem;
 }

 i.active-like-heart-full {
   font-size: 1.3rem;
 }

 .active-vote-star {
   font-size: 1rem;
 }
 }